<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Beats Music Player.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>368537BB1EB85DFD005CCCF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>368537CF1EB85DFD005CCCF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>368537DA1EB85DFD005CCCF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
